<!-- templates/events.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Events</title>
  <link rel="stylesheet" href="/static/base.css">
  <link rel="stylesheet" href="/static/events.css">
  <link rel="icon" href="/static/NE - LOGO.png" type="image/png">
</head>
<body>
  <header>
    <h1>Event Management</h1>
    <nav>
      <a href="/">Home</a> | <a href="/clients">Clients</a>
    </nav>
  </header>
  <main>
    <ul>
      <li><a href="/create_events">Add Event</a></li>
      <li><a href="/view_events">View All Events</a></li>
      <li><a href="/search_events">Search Events</a></li>
    </ul>
  </main>
</body>
</html>