<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Noreast CMS - Home</title>
  <link rel="stylesheet" href="/static/styles.css">
  <link rel="icon" href="/static/NE - LOGO.png" type="image/png">

</head>
<body>
  <header>
    <h1>Welcome to Noreast CMS</h1>
  </header>
  <main>
    <nav>
      <ul>
        <li><a href="/clients">Clients</a></li>
        <li><a href="/events">Events</a></li>
      </ul>
    </nav>
  </main>
</body>
</html>