<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>View Clients</title>
  <link rel="stylesheet" href="/static/base.css">
  <link rel="stylesheet" href="/static/view_clients.css">
  <link rel="icon" href="/static/NE - LOGO.png" type="image/png">
</head>
<body>
  <header>
    <h1>Clients List</h1>
    <nav>
      <a href="/">Home</a> | 
      <a href="/events">Events</a> | 
      <a href="/clients">Clients</a>
    </nav>
  </header>
  <main>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Company Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Street Address</th>
          <th>City</th>
          <th>State</th>
          <th>ZIP</th>
          <th>Date Added</th>
        </tr>
      </thead>
      <tbody>
        {{range .}}
        <tr>
          <td>{{.ID}}</td>
          <td>{{.FirstName}}</td>
          <td>{{.LastName}}</td>
          <td>{{.CompanyName}}</td>
          <td>{{.Email}}</td>
          <td>{{.Phone}}</td>
          <td>{{.Address}}</td>
          <td>{{.City}}</td>
          <td>{{.State}}</td>
          <td>{{.Zip}}</td>
          <td>{{.DateAdded.Format "2006-01-02"}}</td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </main>
</body>
</html>
